@font-face {
    font-family: AirbnbCerealBlack;
    src: url(../css/airbnb/AirbnbCerealBlack.woff);
}

@font-face {
    font-family: AirbnbCerealBold;
    src: url(../css/airbnb/AirbnbCerealBold.woff);
    font-weight: bold;
}

@font-face {
    font-family: AirbnbCerealBook;
    src: url(../css/airbnb/AirbnbCerealBook.woff);
}

@font-face {
    font-family: AirbnbCerealExtraBold;
    src: url(../css/airbnb/AirbnbCerealExtraBold.woff);
    font-weight: bolder;
}

@font-face {
    font-family: AirbnbCerealLight;
    src: url(../css/airbnb/AirbnbCerealLight.woff);
}

@font-face {
    font-family: AirbnbCerealMedium;
    src: url(../css/airbnb/AirbnbCerealMedium.woff);
}