@import url(../css/airbnb/AirbnbCerealBlack.woff);

:root{
    font-size: 100%;
    font-size: 17px;
    line-height: 22.13px;
}

.btn {
    color: #D0CCCC;
    /* margin-top: 42px;
    bottom: 327px; */
    border: 1px solid #D0CCCC
}

.btn:hover {
    background-color: black;
    color: #FFFFFF;
}

.form-floating{
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.185);
}

body {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-style: bold;
    color: black;
}

.right {
    display: flex;
    justify-content: center;
    height: 100%;
}

.right .img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 1.2%;
    left: 92%;
}

/*.right .form-check{
    padding-top: 26px;
}*/

.right h1 {
    padding-top: 207px;
}

/*.split-screen .left .leftSide .top-left {

    position: absolute;
    top: 88px;
    left: 56px;
}*/

.split-screen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/*.left, .right {
    display: flex;
    justify-content: center;
    
}*/

.left {
    background-image: url(../assets/library.jpg);
    width: 61%;
}

/*.small{
    padding-top: 217px;
    padding-bottom: 47px;
}*/

.btn-login{
    margin-right: 12px;
    /* margin-bottom: 217px; */
    width: 110px;
    height: 36px;
}

.btn-signup{
    margin-right: 12px;
    /* margin-bottom: 217px; */
    width: 110px;
    height: 36px;
}


/*.split-screen .left {
    background-image: url(../assets/library.jpg);
    width: 61%;
    height: 100%;
    left: 0px;
    top: 0px;
}*/


@media screen and (min-width: 800px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left,
    .right {
        display: flex;
        width: 50%;
        height: 100%;
    }


}
